{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>This is where the table will show</h1>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Calculation Type</th>
            <th>Result</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        {% for calculation in data %}
            <tr>
                <td>{{ calculation[0] }}</td>
                <td>{{ calculation[1] }}</td>
                <td>{{ calculation[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}