{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h3>Previous Calculations</h3>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Operation</th>
            <th>Result</th>
            <th>Numbers</th>
        </tr>
        </thead>
        <tbody>
            {% if rows %}
                {% for row in rows %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>No data to display</tr>
            {% endif %}
        </tbody>
    </table>

    <form action="/history" method="POST">
        <input type="submit" value="Clear">
    </form>

{% endblock %}