{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>My Calculator</h1>
    <h5>Enter the numbers you want to calculate, seperated by a space</h5>
    <h5>Choose the math operation you want to perform</h5>
    <h5>Then hit calculate to see the result</h5>

    <form action="/" method="POST">
        <input id="tbInput" name="nums" type="text"/>

        <div id="VirtualKey">
            <input class="btn btn-outline-dark" id="btn1" type="button" onclick="input(this);"/>
            <input class="btn btn-outline-dark" id="btn2" type="button" onclick="input(this);"/>
            <input class="btn btn-outline-dark" id="btn3" type="button" onclick="input(this);"/>
            <br/>
            <input class="btn btn-outline-dark" id="btn4" type="button" onclick="input(this);"/>
            <input class="btn btn-outline-dark" id="btn5" type="button" onclick="input(this);"/>
            <input class="btn btn-outline-dark" id="btn6" type="button" onclick="input(this);"/>
            <br/>
            <input class="btn btn-outline-dark" id="btn7" type="button" onclick="input(this);"/>
            <input class="btn btn-outline-dark" id="btn8" type="button" onclick="input(this);"/>
            <input class="btn btn-outline-dark" id="btn9" type="button" onclick="input(this);"/>
            <br/>
            <input class="btn btn-outline-dark" id="btn0" type="button" onclick="input(this)"/>
            <input class="btn btn-dark" id="btnSpace" type="button" value="Space" onclick="space();"/>
            <br/>

            <input class="btn btn-danger" id="btnDelete" type="button" value="Backspace" onclick="del();"/>
            <input class="btn btn-danger" id="btnClear" type="button" value="Clear" onclick="clearAll();"/>

            <input class="btn btn-success" type="submit" value="Calculate">
        </div>

        <fieldset>
            <legend>Operation</legend>
            <div>
                <input type="radio" name="operation" id="addition" value="addition" checked>
                <label for="addition">addition</label>
            </div>
            <div>
                <input type="radio" name="operation" id="subtraction" value="subtraction">
                <label for="subtraction">subtraction</label>
            </div>
            <div>
                <input type="radio" name="operation" id="multiplication" value="multiplication">
                <label for="multiplication">multiplication</label>
            </div>
            <div>
                <input type="radio" name="operation" id="division" value="division">
                <label for="division">division</label>
            </div>
        </fieldset>
    </form>
{% endblock %}
